@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #24262B;
    --black-color: #000000;
    --white-color: #ffffff;
    --font-family: "Roboto";
    --font-style: normal;
}

body{
    font-family: var(--font-family);
    font-style: var(--font-style);
    scroll-behavior: smooth;
}

img{
    display: block;
    cursor: pointer;
}

a{
    text-decoration: none;
    cursor: pointer;
}

ul{
    list-style: none;
}

h1{
    font-weight: 500;
    font-size: 60px;
    line-height: 84px;
    color: var(--primary-color);
    width: 700px;
}

h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    color: var(--primary-color);
    position: relative;
    display: inline-block
}

h2.yellow-border::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 3.5px solid #F8AD1F;
    width: 100%;
}

h4{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
}

p, a{
    font-family: 'Inter';
    font-weight: 500;
    color: var(--black-color);
}

.price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #90A663;
}

.button{
    background: #27292E;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 13px 25px;
    color: var(--white-color);
    border: none;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin-top{
    margin-top: 80px;
}

.margin-bottom{
    margin-bottom: 80px;
}

/* Header */

header{
   min-height: 10vh;
}

header .logo{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    font-family: 'Inter';
}

header .navbar ul{
    display: flex;
    gap: 30px;
}

header .navbar ul li a{
    font-size: 18px;
    line-height: 22px;
    color: var(--primary-color);
}

header .navbar ul li .nactive{
    opacity: 0.7;
}

header .navbar ul li .nactive:hover{
    opacity: 1;
    transition: .2s ease-in-out;
}

/* Hero */

.hero{
    min-height: 90vh;
}

.hero-contents h1{
    margin-bottom: 15px;
}

.hero-contents p{
    font-size: 20px;
    line-height: 33px;
    opacity: 0.5;
    width: 510px;
    margin-bottom: 40px;
}

/* Benefits Section*/

.benefits .benefits-contents{
    width: 500px;
}

.benefits .benefits-contents h2{
    margin-bottom: 20px;
}

.benefits .benefits-contents p{
    font-size: 16px;
    line-height: 30px;
    opacity: 0.5;
}

/* Blends Tea section */

.blends-pagination{
    margin-bottom: 20px;
}

.arrows{
    gap: 10px;
}

.arrows img:hover{
    opacity: 0.2;
    transition: .2s ease-in-out;
} 

.blends-images figure .blends-image{
    margin-bottom: 20px;
}

.blends-images figure figcaption .description strong{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #2F3327;
}

.blends-images figure figcaption .description a{
    font-style: italic;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-decoration: underline;
    color: #90A663;
    display: flex;
    gap: 10px;
}

.blends-images figure figcaption .price{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #90A663;
    margin-top: 5px;
}

/* Signature Flavors section */

.signature-flavors{
    text-align: center;
}

.signature-flavors .flavors{
    margin-top: 40px;
}

.signature-flavors .flavors-images{
    gap: 30px;
}

.signature-flavors .flavors-contents{
   width: 473px;
}

.signature-flavors .flavors-contents article h4{
    color: var(--primary-color);
    margin-bottom: 15px;
    text-align: start;
}

.signature-flavors .flavors-contents article p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #4C4C4C;
    margin-bottom: 20px;
    text-align: start;
}

/* Best selling section */

.best-selling{
    position: relative;
}

.best-selling h2{
    margin-bottom: 20px;
}

.best-selling p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    opacity: 0.5;
}

.best-selling-contents{
    justify-content: center;
    gap: 30px;
}

.best-selling-contents figcaption{
    text-align: center;
    margin-top: 10px;
}

.best-selling-contents figcaption h4{
    color: #606060;
    margin-bottom: 5px;
}

.best-selling-contents figcaption ul{
    justify-content: center;
    gap: 10px;
    margin-top: 4px;
}

.best-selling-contents figcaption ul li{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #606060;
    opacity: 0.7;
    position: relative;
}

.best-selling-contents figcaption ul li + li::after{
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    height: 10px;
    border-left: 2px solid #606060;
}

.arrow-left{
    position: absolute;
    top: 60%;
    left: 60px;
}

.arrow-right{
    position: absolute;
    top: 60%;
    right: 50px;
}

.arrow-left:hover, .arrow-right:hover{
    opacity: 0.2;
    transition: .2s ease-in-out;
}





