/* Features section */
.features-hero-bg{
    position: relative;
}

.features-hero-bg img{
    width: 100%;
}

.features-hero-contents{
    position: absolute;
    top: 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.features-hero-contents h1{
    font-size: 50px;
    width: 100%;
}

.features-hero-contents p{
    line-height: 33px;
    width: 605px;
}

.features-video{
    position: absolute;
    top: 360px;
    right: 20px;
    width: 544px;
}

/* Section 2 / 3 / 4 / 5*/

.section-subtasks{
    margin-bottom: 80px;
    margin-top: 80px;
}

.section-subtasks h2{
    width: 535px;
}

.section-subtasks .text{
    line-height: 34px;
    width: 534px;
    margin-bottom: 20px;
}

.section-subtasks .list li{
    border-radius: 12px;
    color: #1F1F1F;
    font-weight: 600;
}

.section-subtasks .list li.orange{
    background: #FBE3E0;
    color: #1F1F1F;
}

.section-subtasks .list li.orange::after{
    content: url('../images/arrow-up-1.svg');
    position: absolute;
    top: 24px;
    right: 20px;
}

.section-subtasks .list li p{
    color: #343231;
    margin-top: 15px;
}

.learn-more{
    font-size: 14px;
    line-height: 25px;
    color: #3D76EA;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 11px;
}


