@font-face {
    font-family: 'Inter' sans-serif;
    src: url("../fonts/Inter/Inter-Medium.otf") format("opentype");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #7568FE;
}

body{
    color: #41393A;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
}

h1, ul, p, h2, h4{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
    margin-bottom: 20px;
    width: 594px;
}

h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #403A3A;
}


h4{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #403A3A;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.text{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #989898;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button{
    background: var(--primary-color);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 9px 17px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

/* Header */

header{
    height: 90px;
}

.logo{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #403A3A;
    display: flex;
    align-items: center;
    gap: 7px;
}

.nav ul{
    display: flex;
    gap: 30px;
}

.nav ul a{
    padding: 10px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    cursor: pointer;
}

.nav ul a:hover, .nav ul a.active:hover{
    background-color: var(--primary-color);
    color: #FFFFFF;
    border-radius: 6px;
}

.nav ul a.active:hover{
    font-weight: 400;
}

.nav ul a.active{
    color: #44403D;
    font-weight: 700;
}

/* Section 1 */

.heroContents{
    width: 600px;
}

.gap{
    gap: 200px;
    margin: 80px 0;
}

.collaborate{
    background: #33A5E4;
    color: #FFFFFF;
}

.heroContentsText{
    position: relative;
}

.heroContentsText::after{
    content: url('../images/hero-effect.svg');
    position: absolute;
    bottom: 25px;
    right: 120px;
}

.heroContentsText .text{
    margin-bottom: 35px;
}

.heroApps{
    display: flex;
    gap: 15px;
    cursor: pointer;
}

/* Section 2 */

.spon{
    text-align: center;
}

.spon h2{
    margin-bottom: 30px;
}

/* Section 3 */

.section3{
    margin: 80px 0 115px 0;
}

.section3Content .text{
    width: 534px;
    margin: 25px 0;
    font-size: 15px;
    line-height: 30px;
}

.section3Content .cards .card1, .section3Content .cards .card2{
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.section3Content .cards article{
    width: 280px;
    min-height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 15px 17px 16px 15px;
}


.section3Content .cards article div{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.section3Content .cards article p{
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #AFAFAF;
}
/* Section 4 */
.section-according-content{
    width: 528px;
}

.section-according-content h2{
    width: 386px;
    margin-bottom: 20px;
}

.section-according-content .text{
   line-height: 30px;
   margin-bottom: 30px;
}

.section-according-content .list li{
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 24px 20px 23px 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #5B5555;
    cursor: pointer;
    position: relative;
 }

 .section-according-content .list li::after{
    content: url('../images/arrow-dowm.svg');
    position: absolute;
    top: 24px;
    right: 20px;
 }
 
 .section-according-content .list li.purple::after{
    content: url('../images/arrow-up.svg');
    position: absolute;
    top: 24px;
    right: 20px;
 }

 .section-according-content .list li.purple{
    padding-bottom: 11px;
    background: #7568FE;
    border-radius: 10px;
    color: #FFFFFF;
 }

 .section-according-content .list li p{
    margin-top: 30px;
    font-weight: 499;
    font-size: 14px;
    line-height: 25px;
    color: #E8E7EF;
 }

 .text-hidden{
    display: none;
 }

/* Section 5 */

.section5{
    margin: 143px 0 80px 0;
}

.section5Content .text{
    width: 584px;
    line-height: 30px;
    margin: 30px 0 24px 0;
}

/* Section 6 */

.section6Content{
    position: relative;
}

.section6Content p{
    width: 515px;
    margin: 30px 0;
    font-style: italic;
    font-weight: 499;
    font-size: 25px;
    line-height: 40px;
    color: #403A3A;
}

.section6Content div:first-child{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section6Content div strong{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #403A3A;
}

.section6Content div small{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #8A7FFF;
}

.section6Content .userSection .arrowButtons{
    position: absolute;
    right: 14px;
    bottom: 49px;
    display: flex;
    gap: 20px;
}

.section6Content .arrowButtons img{
    width: 50px;
    height: 50px;
}

/* Section 7 */

.section7{
    position: relative;
    margin: 80px 0;
}

.section7Content{
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.section7Content .text{
    width: 473px;
    line-height: 30px;
    margin: 20px 0 30px 0;
    font-size: 15px;
}

/* Footer */

footer{
    background: #050038;
    padding: 50px 0;
}

.social-media-icons{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.footer-logo{
    margin-bottom: 60px;
}

.footer-logo .logo{
    color: #FFFFFF;
}

footer p{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #DFDEE4;
    opacity: 0.7;
}

.footer-list.flex{
    gap: 208px;
}

.footer-list ul li{
    font-weight: 499;
    font-size: 16px;
    line-height: 19px;
    color: #A8A8B0;  
    margin-bottom: 20px;  
    cursor: pointer;
}

.footer-list ul li.bold{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
}


