@font-face {
    font-family: 'Inter' sans-serif;
    src: url("../fonts/Inter/Inter-Medium.otf") format("opentype");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary-color: #7568FE;
    --black-color: #403A3A;
    --white-color: #ffffff;
}

body{
    color: #41393A;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

h1, ul, p, h2, h4{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 60px;
    line-height: 93px;
    margin-bottom: 20px;
    width: 594px;
}

h2{
    font-family: 'Inter';
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: var(--black-color);
}

h4{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--black-color);
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

.text{
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    color: #989898;
}

.container{
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.button{
    background: var(--primary-color);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    padding: 9px 17px;
    border: none;
    cursor: pointer;
    display: block;
}

.button a{
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white-color);
}

/* Section 1 */

.gap{
    gap: 200px;
    margin: 80px 0;
}

.collaborate{
    background: #33A5E4;
    color: var(--white-color);
}

.heroContentsText{
    position: relative;
}

.heroContentsText::after{
    content: url('../images/hero-effect.svg');
    position: absolute;
    bottom: 25px;
    right: 120px;
}

.heroContentsText .text{
    margin-bottom: 35px;
}

.heroApps{
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.heroImage img{
    width: 440px;
}

/* Section 2 */

.sponsorships{
    max-width: 912px;
    margin: 0 auto;
    text-align: center;
}

.sponsorships h2{
    margin-bottom: 30px;
}

/* Section 3 */

.section3Image img{
    width: 477px;
    height: 475px;
}

.section3{
    margin: 80px 0 115px 0;
}

.section3Content .text{
    width: 534px;
    margin: 25px 0;
    font-size: 15px;
    line-height: 30px;
}

.section3Content .cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    
}

.section3Content .cards article{
    width: 268px;
    min-height: 150px;
    color: var(--white-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 15px 17px 16px 15px;
}

.section3Content .cards article div{
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.section3Content .cards article p{
    font-weight: 300;
    font-size: 14px;
    line-height: 23px;
    color: #AFAFAF;
}
/* Section 4 */

.section4{
    display: flex;
    justify-content: space-between;
}

.section-according-content{
    width: 528px;
}

.section-according-content h2{
    width: 386px;
    margin-bottom: 20px;
}

.section-according-content .text{
   line-height: 30px;
   margin-bottom: 30px;
}

.section-according-content .list li{
    background-color: var(--white-color);
    border-radius: 10px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 24px 20px 23px 19px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #5B5555;
    cursor: pointer;
    position: relative;
    transition: .4s;
 }

 .section-according-content .list li:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
 }

 .section-according-content .list li::after{
    content: url('../images/arrow-dowm.svg');
    position: absolute;
    top: 24px;
    right: 20px;
 }
 
 .section-according-content .list li.text-show::after{
    content: url('../images/arrow-up.svg');
    position: absolute;
    top: 24px;
    right: 20px;
 }

 .section-according-content .list li p{
    margin-top: 30px;
    font-weight: 499;
    font-size: 14px;
    line-height: 25px;
    color: #E8E7EF;
    max-height: 0;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
 }

.text-show{
    display: block;
 }

/* Section 5 */

.section5{
    margin: 143px 0 80px 0;
}

.section5Content .text{
    width: 584px;
    line-height: 30px;
    margin: 30px 0 24px 0;
}

/* Section 6 */

.section6Content{
    position: relative;
}

.section6Content p{
    width: 515px;
    margin: 30px 0;
    font-style: italic;
    font-weight: 499;
    font-size: 25px;
    line-height: 40px;
    color: var(--black-color);
}

.section6Content div:first-child{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section6Content div strong{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: var(--black-color);
}

.section6Content div small{
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #8A7FFF;
}

.section6Content .userSection .arrowButtons{
    position: absolute;
    right: 14px;
    bottom: 49px;
    display: flex;
    gap: 20px;
}

.section6Content .arrowButtons img{
    width: 50px;
    height: 50px;
}

.section6 img{
    width: 383px;
    height: 463px;
}

/* Section 7 */

.section7_bg{
    background-image: url('../images/Masking.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.section7Content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section7Content .text{
    width: 473px;
    line-height: 30px;
    margin: 20px 0 30px 0;
    font-size: 15px;
}

@media(max-width: 1024px){

    /* Header */

        
    .nav ul{
        gap: 15px;
    }

    /* Section1 */

    .section1.flex{
        flex-direction: column;
        text-align: center;
    }
    
    h1{
        font-size: 50px;
        line-height: 73px;
        width: 100%;
        margin: 0 auto;
    }

    .gap{
        gap: 0;
    }

    .heroApps{
       align-items: center;
       justify-content: center;
    }

    .heroImage img{
        display: none;
    }

    .heroContentsText::after{
        bottom: 15px;
        right: 20px;
    }

    
    /* Section 3 */

    .section3{
        margin: 40px 0;
    }

    .section3.flex{
        flex-direction: column;
        text-align: center;
    }

    .section3Image img{
        display: none;
    }

    .section3Content .text{
        width: 100%;
        margin: 15px 0;
    }

    .section3Content .cards{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .section3Content .cards article{
        width: 100%;
        min-height: 100px;
    }

    /* Section4 */

    .section4{
        flex-direction: column-reverse;
        align-items: center;
    }

    .section-according-content, .section-according-content h2, .section-according-content p{
        width: 100%;
    }

    .section-according-content h2, .section-according-content .text{
        text-align: center;
        margin-bottom: 15px;
    }

    .section-according-content .text{
        line-height: 27px;
    }
  
    /* Section 5 */

    .section5.flex{
        flex-direction: column;
    }

    .section5{
        margin: 40px 0 40px 0;
    }

    .section5 img{
        display: none;
    }

    .section5Content .text{
        width: 100%;
        line-height: 27px;
        margin: 20px 0 14px 0;
    }

    /* Section 6 */

    .section6Content p{
        width: 100%;
        font-size: 18px;
        line-height: 30px;
    }

    /* Section 7 */
        
    .section7Content{
        flex-direction: column;
        padding: 20px;
        text-align: center;
        gap: 20px;
    }

    .section7Content .text{
        width: 100%;
        line-height: 27px;
        margin: 10px 0 20px 0;
    }

}

@media(max-width: 768px){

    h1{
        font-size: 40px;
        line-height: 53px;
        margin-bottom: 10px;
    }

    h2{
        font-size: 30px;
        line-height: 30px;
    }


    h4{
        font-size: 14px;
        line-height: 17px;
    }

    .text{
        font-size: 15px;
        line-height: 27px;
    }

    .heroContentsText .text{
        margin-bottom: 15px;
    }

    .heroContentsText::after{
        display: none;
    }

    .gap{
        gap: 0;
    }

    .heroApps{
       align-items: center;
       justify-content: center;
    }

    .heroImage img{
        display: none;
    }
    
    .heroContentsText::after{
        bottom: 15px;
        right: 20px;
    }

    /* Section 3 */
    .section3Content .cards article div{
        display: flex;
        gap: 5px;
        margin-bottom: 10px;
    }

    /* Section 6 */
    .section6.flex{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .section6 .section6Image img{
        width: 240px;
        height: 240px; 
        text-align: start;  
    }
    
}

@media(max-width: 540px){

    /* Section1 */

    h1{
        font-size: 32px;
        line-height: 43px;
        margin-bottom: 10px;
    }

    h2{
        font-size: 24px;
        line-height: 24px;
    }

    /* Section3 */

    .section3Content .text{
        line-height: 27px;
    }

    .gap{
        margin: 40px 0; 
    }

    .section3Content .cards{
        grid-template-columns: 1fr;       
    }

    .section3Content .cards article div{
        align-items: center;
        justify-content: center;
    }

    /*     Section 4*/


    .section-according-content .list li{
        font-size: 16px;  
    }

    .section-according-content .list li::after{
        width: 16px;
        height: 16px;
        font-size: 16px;
    }
    
    .section-according-content .list li.text-show::after{
        width: 16px;
    }

    /* Section 6 */

    .section6Content .userSection .arrowButtons{
        right: 14px;
        bottom: 70px;
        display: flex;
        gap: 10px;
    }

    .section6Content .arrowButtons img{
        width: 40px;
        height: 40px;
    }

    /* Section 7 */

    .section7Content .text{
        line-height: 24px;
    }

}

